{% extends "automation/base.html" %}

{% block title %}{{ schedule }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Schedule</h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd>{{ schedule.name }}</dd>
        <dt><strong>Phone number:</strong></dt>
        <dd>{{ schedule.phone_number }}</dd>
        <dt><strong>Time:</strong></dt>
        <dd>{{ schedule.time }}</dd>
        <dt><strong>Time zone:</strong></dt>
        <dd>{{ schedule.time_zone }}</dd>
      </dl>

      <a class="btn btn-default" href="{% url 'list_schedules' %}">Back</a>
      <a class="btn btn-default" href="{% url 'edit_schedule' schedule.id %}">Edit</a>
      <a class="btn btn-danger" data-method="delete" href="{% url 'delete_schedule' schedule.id %}">Delete</a>
    </div>
  </div>
{% endblock %}
